a,
body{
  color: $col-1;
  font-family: 'Montserrat', 'Arial', sans-serif;
}

a:hover{
  color: $col-1;
  opacity: 0.85;
}

.row> img{
  width: auto;
}

.loader{
  text-align: center;
}

.content-articles{
  background-color: $softgray;
  padding: $gap;
  margin:$gap*1.5 $gap/2;
  border-radius: 25px;
}