.fiche{

  h2{
    &.fiche-titre{
      margin: 0;
    }
  }
  
  .location{
    font-weight: 500;
    font-size: 1.1em;
    display: block;
  }

  .tag-fiche{
    display: flex;
    flex-wrap: wrap;
    .tag{
      margin-right: 1em;
      border-radius: 30px;
      background: $col-1;
      color: $blanc;
      padding: 0.35em 1.3em;
      font-size: 0.9em;
    }
  }

  .detail-title{
    @media screen and (max-width: 680px) {
      width: 100%;
      flex: auto;
  }
  }

  .host{
    text-align: right;
      display: grid; 
      grid-template-columns: 3fr 1fr; 
      grid-template-rows: 1fr 1fr; 
      gap: 0.5em 0.5em; 
      grid-template-areas: 
        ". ."
        "stars stars"; 
        justify-items: end; 
        align-items: center; 

      @media screen and (max-width: 680px) {
          width: 100%;
          flex: auto;
          grid-template-areas: 
          "stars stars . .";
          justify-items: start; 
         
      }
      

    .rating { grid-area: stars; }

    .portrait{
      border-radius: 100px;
      margin-left: 15px;
      width: 90px;
      height: 90px;
    }

    span{
      font-size: 1.3em;
      overflow-wrap: break-word;
      font-weight: 500;
      display: block;
      width: 95px;
    }
  }

    .eq,
    .description{
      @media screen and (max-width: 680px) {
        width: 100%;
        flex: auto;
        margin-bottom: $gap;
      }
      
    }
 

}