.slider{
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  height: 415px;
  text-align: center;

  .arrowLeft{
    position: absolute;
    top:39%;
    left: 32px;
    font-size: 3rem;
    z-index: 999;
    cursor: pointer;
    svg{
      filter: drop-shadow(4px 1px 5px rgba(24, 4, 4, 0.25));
      opacity: 0.7;
      transition: 650ms;
    }
    &:hover{
      svg{
        opacity: 1;
      }
    }
 
  }
  .arrowRight{
    z-index: 999;
    position: absolute;
    top:39%;
    right: 32px;
    font-size: 3rem;
    cursor: pointer;
    svg{
      filter: drop-shadow(4px 1px 5px rgba(24, 4, 4, 0.25));
      opacity: 0.7;
      transition: 650ms;
    }

    &:hover{
      svg{
        opacity: 1;
      }
    }

  }

  .img-slide{
    object-fit: cover;
    height: 415px;
    padding: 0;
  }

  .slide{
      opacity: 0;
      object-fit: cover;
 

      &.active{
        opacity: 1;
        transition-duration: 1s ease-in-out;
        overflow: hidden;
        border-radius: 10px;
      }
  }

}
